.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 35%;
    border-radius: 5px;
    background-color: #e2e2e2;
}

.container {
    padding: 2px 16px;
}

img {
    margin-right: 1rem;
    border-radius: 50%;   
    max-width: 50%;
    height: auto;
}
 h3 {
    text-align: center;
    font-family: Verdana, Geneva, sans-serif;
    }   
